.mt-2{
	margin-top: 20px;
}
.mb-2{
	margin-bottom: 20px;
}
#btn-join{
	background-color: #7A7A7A;
	color: white;
	border-radius: 6px;
	border: none;
	padding: 6px 20px;
}
 #form-wish, #success{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 100vh;
    display: flex;
    align-items: center;
	background-color: rgba(114, 112, 112, 0.7);
	visibility: hidden;
}
 #form-wish.visible, #success.visible{
	animation: 1s fadeIn;
	animation-fill-mode: forwards;
}
.btn-close-form-join{
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	padding: 4px 14px;
	background: transparent;
	font-size: 20px;
}
@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  visibility: visible;
	  opacity: 1;
	}
  }
  #fh5co-form{
	background: rgba(0, 0, 0, 0.04);
  }

#form-wish form, #success .content{
	background: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
	position: relative;
	max-width: 425px;
}
#success .content{
	text-align: center;
}
#form-join .title{
	margin-bottom: 20px;
}
#form-join .mt-2, #form-wish .mt-2{
	margin-top: 15px;
}
#form-join p, #form-wish p{
	margin-bottom: 5px;
}
#form-join .form-group, #form-wish .form-group{
	display: flex;
	align-items: end;
}
#form-join .form-group p, #form-wish .form-group p{
	margin: 0;
	padding-right: 5px;
}
#form-join .form-group .input-text, #form-wish .form-group .input-text{
	width: calc(100% - 120px);
}

#form-join .form-group .input-text{
	background: transparent;
}
#form-join input[type=number]{
	background: transparent;
}
#form-join input[type=text]{
	background: transparent;
}

#form-join input[type="radio"], #form-join input[type="checkbox"],
#form-wish input[type="radio"], #form-wish input[type="checkbox"]{
	margin: 4px 9px 0;
}
input[type=text], input[type=number] {
	box-sizing: border-box;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}
input[type=text]:focus,input[type=number]:focus {
	border: 1px solid #ccc;
	border-radius: 5px ;
}
.input-text{
	border: none;
	border-bottom: 1px solid;
	width: 100%;
}
.wtr-group{
	margin-top: 20px;
	display: flex;
	align-items: end;
}
.wtr-group p{
	color: #1A88EE;
	font-size: 10px;
	margin-right: auto;
}
.wtr-group p:hover{
	opacity: 0.8;
	cursor: pointer;
}
#form-wish .wtr-group{
	display: flex;
	justify-content: end;
}
.btn-submit, .btn-close-form-wish, .btn-submit-wish, #btn-close-success{
    border: none;
    padding: 4px 20px;
    border-radius: 6px;
	font-size: 14px;
}
.btn-submit, .btn-close-form-wish, #btn-close-success{
	background-color: #7A7A7A;
    color: white;
}

.btn-submit-wish{
	margin-left: 10px;
	background-color: white;
    color: #1A88EE;
	border: 1px solid #1A88EE;
}

